html {
    font-size: 10px;
    background: url('images/bg-3.jpg') bottom center;
    background-size: cover;
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  h1{
    font-size: 70px;
    position: absolute;
    top: 20px;
    right: 390px;
    padding: 0;
    margin: 20px 0px 0px 0px;
    color: #300218;
  }
  
  .keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .4rem solid #fdcfdf;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: #fd96c8;
    box-shadow: 0 0 1rem #f3bad6;
  }
  
  .set{
    position: absolute;
    top: 400px;
    left: 60px;
    display: block;
    font-size: 4rem;
    font-size: 50px;
    display: flex;
  }
  
  button{
    background: transparent;
    border: none;
    color: white;
    font-size: 30px;
    font-weight: 250;
    text-shadow: 0 0 .5rem black;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
  }